## Import Dependancies

In [24]:
import time
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import os

In [53]:
data=[]

with Chrome(executable_path=os.path.join("./chromedriver")) as driver:
    wait = WebDriverWait(driver,15)
    driver.get("https://www.youtube.com/watch?v=rVZRLbOy4ZQ")

    for item in range(100): 
        wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END)
        time.sleep(10)

    for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
        data.append(comment.text)

In [54]:
import pandas as pd   
df = pd.DataFrame(data, columns=['comment'])

df.tail()

                                               comment
178           She is so pretty! I love the ice method!
179  Her lashes are so long. And her skin is amazin...
180  She loves those products so much that she call...
181  nobody:\nmadelaine: beeing naturally beautiful...
182

In [55]:
beauty_data = df.to_csv('beauty_ty_comments.csv', index = True)

In [56]:
df_1 = pd.read_csv('./beauty_ty_comments_dataset.csv')
df_2 = pd.read_csv('./beauty_ty_comments.csv')


frames = [df_1, df_2]

df = pd.concat(frames, sort = False)

In [57]:
df.tail()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,comment
178,178,NaN,NaN,She is so pretty! I love the ice method!
179,179,NaN,NaN,Her lashes are so long. And her skin is amazin...
180,180,NaN,NaN,She loves those products so much that she call...
181,181,NaN,NaN,nobody:\nmadelaine: beeing naturally beautiful...
182,182,NaN,NaN,NaN

In [58]:
beauty_data = df.to_csv('beauty_ty_comments_dataset.csv', index = True)

In [59]:
data = pd.read_csv('./beauty_ty_comments_dataset.csv')

data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,comment
0,0,0,0.0,0.0,SKIP NAVIGATION\nSIGN IN\nSplitsies :15 | Toni...
1,1,1,1.0,1.0,üòç Subscribe to my channel : http://bit.ly/2hjb...
2,2,2,2.0,2.0,I don't know why but her voice is oddly satisf...
3,3,3,3.0,3.0,Me who doesn't even have half of the stuff I n...
4,4,4,4.0,4.0,I cant believe this is how she actually sound...

In [68]:
data = data.drop(["Unnamed: 0.1.1.1"], axis = 1)

data.head()

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nSplitsies :15 | Toni...
1  üòç Subscribe to my channel : http://bit.ly/2hjb...
2  I don't know why but her voice is oddly satisf...
3  Me who doesn't even have half of the stuff I n...
4  I  cant believe this is how she actually sound...

In [69]:
data['label']='beauty'

data.head()

                                             comment   label
0  SKIP NAVIGATION\nSIGN IN\nSplitsies :15 | Toni...  beauty
1  üòç Subscribe to my channel : http://bit.ly/2hjb...  beauty
2  I don't know why but her voice is oddly satisf...  beauty
3  Me who doesn't even have half of the stuff I n...  beauty
4  I  cant believe this is how she actually sound...  beauty

In [70]:
beauty_data = data.to_csv('beauty_ty_comments_dataset.csv', index = True)